@model IEnumerable<SportsStore.Models.Item>
<!DOCTYPE>

<html>
<head>
</head>
    <body>
        <h1>This this the Index action of the Item controller</h1>
        <table>
            <tr>
                
                <th>Description </th>
                <th>UnitsOnHand</th>
                <th>Cost</th>
                <th>SellingPrice</th>
            </tr>

            @foreach (var i in Model)
            {
                <tr>

                    
                    <td> @i.Description</td>
                    <td>@i.UnitsOnHand.ToString("c")</td>
                    <td>@i.Cost.ToString("c")</td>
                    <td>@i.SellingPrice.ToString("c")</td>

                </tr>}
        </table>
    </body>

</html>